<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.newb_board_server.mapper.BoardMapper">


    <resultMap id="commentList" type="com.board.newb_board_server.dto.BoardDTO">
            <result property="boardNum" column="board_num" />
        <collection property="comments" column="COMMENT_NUM" javaType="java.util.ArrayList" ofType="com.board.newb_board_server.dto.CommentDTO">
            <result property="commentNum" column="COMMENT_NUM"/>
            <result property="content" column="CONTENT" />
            <result property="write_date" column="WRITEDATE" />
            <result property="fk_userid" column="fkuserid" />
        </collection>
    </resultMap>



    <select id="getBoardList" parameterType="String" resultType="com.board.newb_board_server.dto.BoardDTO">
        SELECT A.BOARD_NUM, A.FK_USERID, A.TITLE, A.CONTENT, A.WRITE_DATE, A.VIEWS, A.OPEN, NVL(B.COMMENT_CNT, 0) AS COMMENT_CNT
        FROM
            (SELECT BOARD_NUM, FK_USERID, TITLE, CONTENT, WRITE_DATE, VIEWS, OPEN
            FROM TBL_BOARD
            <if test='fkUserid == null' >
                WHERE DEL = 'N' AND FK_USERID = #{fkUserid}) A
            </if>
            <if test='fkUserid != null' >
                WHERE DEL = 'N' AND ((FK_USERID = #{fkUserid} AND OPEN = 'N') OR OPEN = 'Y')) A
            </if>

        LEFT JOIN
            (SELECT FK_BOARD_NUM, COUNT(COMMENT_NUM) AS COMMENT_CNT
            FROM TBL_COMMENT
            GROUP BY FK_BOARD_NUM) B
        ON A.BOARD_NUM = B.FK_BOARD_NUM;
    </select>

    <select id="getBoardDetail" parameterType="String" resultType="com.board.newb_board_server.dto.BoardDTO">
        SELECT BOARD_NUM, FK_USERID, TITLE, CONTENT, WRITE_DATE, VIEWS FROM TBL_BOARD WHERE BOARD_NUM = #{boardNum} AND DEL = 'N'
    </select>

    <insert id="insertBoard" parameterType="com.board.newb_board_server.dto.BoardDTO">
        INSERT INTO TBL_BOARD (BOARD_NUM, FK_USERID, TITLE, CONTENT, WRITE_DATE, VIEWS, DEL) VALUES (nextval(seq_boardNum), 'limsw', #{title}, #{content}, default, default, 'N')
    </insert>

    <update id="modifyBoard" parameterType="com.board.newb_board_server.dto.BoardDTO">
        UPDATE TBL_BOARD SET TITLE = #{title}, CONTENT = #{content} WHERE BOARD_NUM = #{boardNum}
    </update>

    <update id="setDelYN" parameterType="String">
        UPDATE TBL_BOARD SET DEL = 'Y' WHERE BOARD_NUM = #{boardNum}
    </update>

    <update id="updateViews" parameterType="String">
        UPDATE TBL_BOARD SET VIEWS = (VIEWS+1) WHERE BOARD_NUM = #{boardNum}
    </update>


    <select id="getMyBoardCommentList" resultMap="commentList">
        SELECT B.BOARD_NUM,
               C.COMMENT_NUM, C.CONTENT, C.FK_USERID, C.WRITE_DATE
        FROM TBL_BOARD B WHERE DEL = 'N' AND
                 INNER JOIN tbl_comment C ON B.BOARD_NUM = C.FK_BOARD_NUM
        WHERE B.FK_USERID = 'ss' AND B.DEL = 'N'
    </select>

</mapper>
