<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.newb_board_server.mapper.TokenMapper">

    <insert id="save" parameterType="com.board.newb_board_server.dto.TokenDTO">
       INSERT INTO TBL_TOKEN (FK_USERID, TOKEN, TOKEN_TYPE, REVOKED, EXPIRED)
       VALUES (#{fkUserid}, #{token}, #{tokenType}, #{revoked}, #{expired})
    </insert>


    <select id="findAllValidTokenByUser"  parameterType="String" resultType="com.board.newb_board_server.dto.TokenDTO">
        SELECT T.FK_USERID, T.TOKEN, T.TOKEN_TYPE, T.REVOKED, T.EXPIRED FROM TBL_TOKEN T INNER JOIN TBL_USER U
        WHERE T.FK_USERID = #{userid} AND (T.EXPIRED = 0 OR T.REVOKED = 0)
    </select>

    <select id="findByToken" parameterType="String" resultType="com.board.newb_board_server.dto.TokenDTO">
        SELECT FK_USERID, TOKEN, TOKEN_TYPE, REVOKED, EXPIRED FROM TBL_TOKEN
        WHERE TOKEN = #{token}
    </select>

    <update id="updateExpiredRevoked" parameterType="java.util.List">
        UPDATE TBL_TOKEN
        <set>
            EXPIRED = 1,
            REVOKED = 1
        </set>
        where TOKEN in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.token}
        </foreach>
    </update>

</mapper>
