<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.newb_board_server.mapper.UserMapper">


    <select id="idDuplicateCheck" parameterType="String" resultType="boolean">
        SELECT if(count(*) = 1,1,0) FROM TBL_USER WHERE USERID = #{userid}
    </select>


    <insert id="insertUser" parameterType="com.board.newb_board_server.dto.UserDTO">
            INSERT INTO TBL_USER (USERID, PASSWD, EMAIL, JOIN_DATE, DEL ) VALUE (#{userid}, #{passwd}, #{email}, default, 'N')
    </insert>


    <select id="getUserDetails" parameterType="String" resultType="com.board.newb_board_server.dto.UserDTO">
        SELECT USERID, PASSWD, EMAIL, JOIN_DATE, DEL FROM TBL_USER WHERE USERID = #{userid}
    </select>

</mapper>